* {
    // box-sizing: border-box;
}

body {
    margin: 0;

	color: var(--black);
}

h1, h2, h3, p {
	margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
	font-family: inherit;
	
	cursor: pointer;
}

button {
	font-size: 0;

	border: none;
	background-color: var(--tr);

	cursor: pointer;

	&:active {
        outline: none;
    }
}

input[type="radio"] {
    display: none;
}