:root {
    --white: #ffffff;
    --light-grey: #EAECF0;
    --grey: #E4EAEE;
    --dark-grey: #333333;
    --black: #000000;

    --pink: #F8BCCA;

    --plumbeous : #A1BBCD;
    --snowy: #B4DCED;
    --sky-blue: #ABCADD;
    --blue-grey: #69A1FD;
    --pale-blue: #48A7F7;
    --light-blue: #47A4F7;
    --cornflower-blue: #48A8F6;
    --bright-blue: #4289FB;
    --blue: #4288FA;
    --very-light-purple: #C1BAF8;
    --light-purple: #8C97FD;
    --indigo: #6D7EFA;
    --purple-blue: #3E3FC4;
    --purple-blue-dark: #4647CC;
    --night-blue: #393A59;

    --sandy: #FDE578;
    --mustart: #FCDE56;
    --light-yellow: #FFDD41;
    --yellow: #FFD30B;
    --brown: #994404;
    --dark-brown: #613007;
    --chocolate: #4D2D19;
}

:root[theme='light'] {
    --roof_upper-color: var(--chocolate);
    --roof_lower-color: var(--dark-brown);
    --floor_odd-color: linear-gradient(var(--mustart) 0%, var(--yellow) 100%);
    --floor_even-color: linear-gradient(var(--yellow) 0%, var(--mustart) 100%);
    --floor_hover-color: linear-gradient(180deg, var(--mustart) 0%, var(--light-yellow) 100%);
    --balcon_left: linear-gradient(to top, var(--dark-brown) 37%, transparent 37%), 
    linear-gradient(to left, var(--brown) 30%, transparent 30%);
    --balcon_right: linear-gradient(to top, var(--dark-brown) 37%, transparent 37%), 
    linear-gradient(to right, var(--brown) 30%, transparent 30%);
    --flat-borders-color: var(--dark-brown);
    --flat-inside-color: var(--snowy);
    --footer-color: var(--dark-brown);
    --footer-border-color: var(--chocolate);
}

:root[theme='dark'] {
    --roof_upper-color: var(--bright-blue);
    --roof_lower-color: var(--light-blue);
    --floor_odd-color: linear-gradient(var(--pale-blue) 0%, var(--bright-blue) 100%);
    --floor_even-color: linear-gradient(var(--bright-blue) 0%, var(--pale-blue) 100%);
    --floor_hover-color: linear-gradient(180deg, var(--pale-blue) 0%, var(--bright-blue) 100%);
    --balcon_left: linear-gradient(to top, var(--bright-blue) 37%, transparent 37%), 
    linear-gradient(to left, var(--indigo) 30%, transparent 30%);
    --balcon_right: linear-gradient(to top, var(--bright-blue) 37%, transparent 37%), 
    linear-gradient(to right, var(--indigo) 30%, transparent 30%);
    --flat-borders-color: var(--purple-blue);
    --flat-inside-color: var(--pink);
    --footer-color: var(--purple-blue-dark);
    --footer-border-color: var(--light-purple);
}