:root {
    --white: #ffffff;
    --light-grey: #EAECF0;
    --grey: #E4EAEE;
    --dark-grey: #333333;
    --black: #000000;

    --pink: #F8BCCA;

    --plumbeous : #A1BBCD;
    --snowy: #B4DCED;
    --sky-blue: #ABCADD;
    --blue-grey: #69A1FD;
    --pale-blue: #48A7F7;
    --light-blue: #47A4F7;
    --cornflower-blue: #48A8F6;
    --bright-blue: #4289FB;
    --blue: #4288FA;
    --very-light-purple: #C1BAF8;
    --light-purple: #8C97FD;
    --indigo: #6D7EFA;
    --purple-blue: #3E3FC4;
    --night-blue: #393A59;

    --sandy: #FDE578;
    --mustart: #FCDE56;
    --light-yellow: #FFDD41;
    --yellow: #FFD30B;
    --brown: #994404;
    --dark-brown: #613007;
    --chocolate: #4D2D19;
}
