.filter {
    display: none;
    width: 640px;

    border-radius: 5px;
    box-shadow: 0px 24px 44px rgba(0, 0, 0, 0.1);

    &.active {
        display: block;
    }

    &__title {
        padding: 25px 0 25px 35px;
        border-bottom: 1px solid var(--light-grey);
    }
}