.residential-complex__functionality {
    width: 665px;
    padding: 0 58px;
}

.house {
    --roof-color: var(--chocolate);

    width: 412px;
    padding: 0 58px;

    &__roof {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__floor {
        position: relative;

        padding: 0 35px;

        &:nth-child(odd) {
            background: linear-gradient(var(--mustart) 0%, var(--yellow) 100%);
        }

        &:nth-child(even) {
            background: linear-gradient(var(--yellow) 0%, var(--mustart) 100%);
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: -25px;

            display: block;
            width: 25px;
            height: 95px;

            background: linear-gradient(to top, var(--dark-brown) 37%, transparent 37%), 
            linear-gradient(to left, var(--brown) 30%, transparent 30%);
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            right: -25px;
            
            display: block;
            width: 25px;
            height: 95px;

            background: linear-gradient(to top, var(--dark-brown) 37%, transparent 37%), 
            linear-gradient(to right, var(--brown) 30%, transparent 30%);
        }
    }

    &__flats {
        display: flex;
    }

    &__flat {
        width: 98px;
        height: 88px;
        margin: 18px;
        box-sizing: border-box;

        border: 4px solid var(--dark-brown);
        border-radius: 4px;
        background-color: var(--snowy);
        // transform: rotate(-90deg);

        & svg {
            position: relative;
            top: 25%;
            
            display: block;
            margin: auto;
        }
    }

    &__footer {
        margin-top: 5px;
        margin-bottom: 20px;
    }
}

.roof-part {

    &_upper {
        width: calc(460px - 13px * 2);
        height: 32px;

        background-color: var(--roof-color);
    }

    &_lower {
        width: calc(460px - 22px * 2);
        height: 13px;

        background-color: var(--dark-brown);
    }
}