.residential-complex__functionality {
    width: 665px;
    padding: 0 58px;
}

.house {
    position: relative;
    
    width: 412px;
    padding: 0 58px;

    &__roof {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__floors {
        display: flex;
        flex-direction: column-reverse;
    }

    &__floor {
        position: relative;

        // padding: 0 35px;

        &:nth-child(odd) {
            background: var(--floor_odd-color);
        }

        &:nth-child(even) {
            background: var(--floor_even-color);
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: -25px;

            display: block;
            width: 25px;
            height: 95px;

            background: var(--balcon_left);
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            right: -25px;
            
            display: block;
            width: 25px;
            height: 95px;

            background: var(--balcon_right);
        }

        &:hover  {
            background: var(--floor_hover-color);
        }

        &:hover:before, &:hover:after {
            height: 124px;

            background: var(--floor_hover-color);
        }

    }

    &__flats {
        display: flex;
    }

    &__flat {
        width: 98px;
        height: 88px;
        margin: 18px;
        box-sizing: border-box;

        border: 4px solid var(--flat-borders-color);
        border-radius: 4px;
        background-color: var(--flat-inside-color);
        // transform: rotate(-90deg);

        & svg {
            position: relative;
            top: 25%;
            
            display: block;
            margin: auto;
        }

        & img {
            position: relative;
            top: 25%;
            
            display: block;
            margin: auto;
        }
    }

    &__footer {
        margin-top: 5px;
        margin-bottom: 20px;
    }
}

.roof-part {

    &_upper {
        width: calc(460px - 13px * 2);
        height: 32px;

        background-color: var(--roof_upper-color);
    }

    &_lower {
        width: calc(460px - 22px * 2);
        height: 13px;

        background-color: var(--roof_lower-color);
    }
}