.resident-reference {
    position: absolute;
    top: 20%;
    left: 120%;

    display: none;
    width: 640px;
    height: 415px;
    background: #FBFCFD;
    box-shadow: 0px 24px 44px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    &_active {
        z-index: 1;
        
        display: block;
    }

    &__title {
        display: flex;
        align-items: center;
        padding: 30px 35px;

        border-bottom: 1px solid var(--light-grey);
    }

    &__name {
        padding-right: 20px;
    }

    &__icon-container {
        width: 23px;
        height: 31px;

        & img {
            width: 100%;
            height: 100%;
        }
    }

    &__main {
        display: flex;
        flex-wrap: wrap;

        padding: 30px 35px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 200px;
        padding-right: 10px;

        &:nth-child(even) {
            flex-grow: 2;
        }

        &-title {
            color: var(--plumbeous);
        }

        &-description {
            display: inline-block;
            // padding: 0 10px;
        }
    }

    &__close-popup {
        position: absolute;
        right: 32px;
        top: 32px;
        width: 32px;
        height: 32px;
        opacity: 0.3;
        cursor: pointer;

        &:before,
        &:after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 33px;
            width: 2px;
            background-color: #333;
            transition: transform 0.5s;
        }

        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }

        &:hover {
            opacity: 1;

            &:before {
                transform: rotate(0deg);
            }
            &:after {
                transform: rotate(-90deg);
            }
        }
    }
}